<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<table>
  <tbody>
    <tr>
      <th><%= t('view.set_assignee_on_commit.assignee_name') %></th>
      <td><input type="text" id="settings_assignee_name" 
                     value="<%= settings['assignee_name'] %>" 
             name="settings[assignee_name]" >
    </tr>
  </tbody>
</table>
